*{
    font-family: arial, sans-serif;
    font-size: 13px;
}

li{
    display: inline-block;
    list-style-type: none;
    padding: 5px;  
}

#navicon{
    display: inline;
    height: 30px;
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.flex-column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#navbar{
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin: 25px;
    display: block;
    width: 30%;
}

.form{
    margin: 10%;
    display: block;
    width: 90%;
}

button{
    margin: 10px;
    font-size: 15px;
}

/* don't like hard coding the sizes but for some reason % etc isn't working */
#searchbar{
    border-radius: 40px;
    width: 500px;
    height: 60%;
    border-width: 1px;
    border-color: rgb(212, 211, 211);
    border-style: solid;
    margin: 10px;
}

.buttons{
    border-radius: 5px;
    background-color: whitesmoke;
    border: 0px;
    padding: 10px;

}

input:hover, button:hover{
    box-shadow: 0 2px 10px 0 rgba(170, 170, 170, 0.4);
}



/* need to adjust margins around page content but changing the padding here is throwing the whole document off for some reason :(  */
body{
    padding-right: 5;
}

ul{
    background-color: rgba(255, 255, 255, 0.7);
}

footer{
    display: flex;
    list-style-type: none;
    width: 100%;
    position: fixed;
    /* background-color: rgb(233, 233, 233); */
}
#footer-bottom{
    justify-content:space-between;
    bottom: 1px; 
}
  
#list-top{
    position: fixed;
    bottom: 5%;
}

h1{
    text-align: center;
    
}
